.App {
  margin: 0;
  font-size: 18px;
}

.container {
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-style {
  max-width: 650px;
  width: 100%;
  padding: 15px;
  border-radius: 5px;
  background-color: #d8d8d8;
  color: #6e6e6e;
  border: solid 2px #979797;
  font-size: 18px;
}

.input-style:focus {
  border: solid 2px #646363;
  outline: none;
}

.result-box {
  max-width: 650px;;
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  border-radius: 5px;
  background-color: #cee8fd;
  color: #4176a1;
  border: solid 2px #4c8fc5;
  font-size: 18px;
}

.result-box a {
  text-decoration: none;
  color: #4176a1;
}

